a.thumb{
        display:block;
        margin-left:auto;
        margin-right:auto;
        float:none;
        text-decoration: none;
    
//    &:nth-child(2n+2) {
//            @include last;
//        }
    
    
    h1{
        max-width:60%;
        font-size:36px;
        line-height: 70px;
        color:#fff;
        padding: 20px;
        
    }
        
        
}

a.thumb-size8x350{
        height:450px;
        margin-top:span(1/2);
        background:#eee;
        @include span(8);
        float:left;
}

a.thumb-size4x350{
        height:350px;
        margin:span(1/2);
        background:#eee;
        @include span(3.5);
        float:left;
        
    
    
        h1{
        max-width:75%;
        font-size:24px;
        line-height: 50px;
        color:#fff;
        padding: 20px;
        
    }
}

a.thumb-size2x350{
        height:350px;
        margin:span(1/2);
        background:#eee;
        @include span(2);
        float:left;
        
    
    
        h1{
        max-width:75%;
        font-size:18px;
        line-height: 30px;
        color:#fff;
        padding: 20px;
        
    }
}


