.tk-bree, h1 {
    font-family: "bree",sans-serif;
}

.choice-div{width:50vw;
            height:100vh;
            padding:50px;
}

.h1_choice{
    color:#ffffff;
    font-size:36px;
    text-align: center;
   
}

.menu{display: none;}
