.background-Black{
    background:#000000;
}

.background-FuchsiaBlue{
    background:#8645C0;
}

.background-ViolentViolet{
    background:#230f67;
}

.background-Turquoise{
    background:#33CCCC;
}

.background-OxfordBlue{
    background:#394959;
}

.background-Gallery{
    background:#eeeeee;
}

.background-BrinkPink{
    background:#fd667f;
}

.background-RadicalRed{
    background:#fc3a5a;
}

.background-Broom{
    background:#ffea24;
}


.background-SeaBuckthorn{
    background:#fda629;
}

.background-Shamrock{
    background:#2ecc71;
}

.background-WaterLeaf{
    background:#A1E9DE;
}

.background-JungleGreen{
    background:#29AB87;
}

.Brink-Pink{
    color: #fd667f;
}

.white{
    color:white;
}