.background-Black{
    background:#000000;
}

.background-FuchsiaBlue{
    background:#8645C0;
}

.background-ViolentViolet{
    background:#230f67;
}

.background-Turquoise{
    background:#33CCCC;
}