.background-Black{
    background:#000000;
}

.black{}

.Brink-Pink{
    color: #fd667f;
}

.background-FuchsiaBlue{
    background:#8645C0;
}

.background-ViolentViolet{
    background:#230f67;
}

.background-Turquoise{
    background:#33CCCC;
}

.background-OxfordBlue{
    background:#394959;
}

.background-Gallery{
    background:#eeeeee;
}

