.shape-footer{
    margin-top:100px;
}

footer{
    width:100vw;
    height:160px;
    overflow: hidden;
    
    .footer-content-wrapper{
        max-width: 1168px;
        display:block;
        margin-left:auto;
        margin-right:auto;
    
        div{
            float:left;


                h1{color:#fff;
                    padding:30px 30px 20px 30px;
                    font-size:24px;}

                input{
                    border:none;
                }

                .input-newsletter{
                    opacity: 0.25;
                    width:160px;
                    height:30px;
                    margin:10px -4px 10px 20px;
                    color:#000;
                    border-radius: 8px;


                }
                    .sign-up-newsletter{
                        width:55px;
                        height:30px;
                        border-radius: 8px;
                        color:#fff;
                        font-family: "bree",sans-serif;



                }
        }



        .slides{margin-right:28px;

                    .slide{

                            .social-media-icons-footer{
                                width:20px;
                                height:20px;
                                float:right;
                                margin:35px 3px 0px 0px;
                            }
                    }
        }


        .mascotte-footer{
            width:260px;
            height:auto;
            float:right;
            
        }
    }
}




@media screen and (min-width: 900px) {
   footer{
     height:300px;
    
    .footer-content-wrapper{
        max-width: 1000px;
    
        div{

                h1{
                    font-size:30px;}

                .input-newsletter{
                    width:275px;
                    height:37px;


                }
                    .sign-up-newsletter{
                        width:120px;
                        height:37px;
                        font-size: 18px;



                }
        }



        .slides{margin-right:28px;
                padding-top:50px;

            .slide:first-child{
                padding-left:70px;
            }
                    
                    .slide{
                        float:left;
                        
                    

                            .social-media-icons-footer{
                                width:48px;
                                height:48px;
                                float:right;
                                margin:35px 3px 0px 0px;
                            }
                    }
        }


        .mascotte-footer{
            margin-top:50px;
            width:300px;
            height:auto;
        }
    }
}



}


@media screen and (max-width: 900px) {
   footer{
    
    .footer-content-wrapper{
        max-width: 700px;
    
        div{

                h1{
                    font-size:18px;}

                .input-newsletter{
                    width:175px;
                    height:37px;


                }
                    .sign-up-newsletter{
                        width:55px;
                        height:37px;
                        font-size: 14px;



                }
        }



        .slides{margin-right:20px;
                padding-top:0px;
                float:right;

            .slide:first-child{
                padding-left:10px;
            }
                    
                    .slide{
                        float:left;
                        
                    

                            .social-media-icons-footer{
                                width:28px;
                                height:28px;
                                float:right;
                                margin:35px 3px 0px 0px;
                            }
                    }
        }

    }
}



}

@media screen and (max-width: 600px) {
   footer{
    
    .footer-content-wrapper{
        max-width: 350px;
    
        div{

                h1{
                    font-size:14px;}

                .input-newsletter{
                    width:145px;
                    height:30px;


                }
                    .sign-up-newsletter{
                        width:45px;
                        height:30px;
                        font-size: 12px;



                }
        }



        .slides{margin-right:20px;
                padding-top:0px;
                float:right;

            .slide:first-child{
                padding-left:10px;
            }
                    
                    .slide{
                        float:left;
                        
                    

                            .social-media-icons-footer{
                                width:28px;
                                height:28px;
                                float:right;
                                margin:35px 3px 0px 0px;
                            }
                    }
        }


        .mascotte-footer{
            margin-top:20px;
            width:120px;
            height:auto;
           
        }
    }
}



}