$susy: (
    columns: 12,
    gutters:1/4,
    container:1920px,
    global-box-sizing: border-box,
    debug:(image:show)
);

.float-left{
    float:left;
}
.float-right{
    float:right;
}

.content{
    width:1160px;
    height:100%;
    padding-top:80px;
    display: block;
    margin-left:auto;
    margin-right:auto;
}


div.clearfix{
    clear:both!important;
    width:0!important;
    height:0!important;
    opacity: 0!important;
    visibility: hidden!important;
}



.container{
    @include container;
    @include clearfix;
    
    div{
        margin-top:span(1/2);
        background:shade(#ff00ff, 60%);
        @include span(4);
        
        &:nth-child(3n+3) {
            @include last;
        }
        
//        div{
//            height:200px;
//            background:red;
//            @include span(2 of 4);
//            margin-left: span(1 of 4) + gutter(4);
////            @include push(1 of 4); centeren en margin-left ook centeren
//        }
    }
}

